.entry-content-wrap { padding:0 !important; }
.entry-tags, .post-nav { padding: 0 15px !important; box-sizing: border-box; }

:is(#post-body.entry-content, #post-body :is(.related-content, .related-content-auto)) > :is(p,h1,h2,h3,h4,h5) {
	padding-left: 15px !important; 
	padding-right: 15px !important;
}

#post-body.entry-content > :is(,ol,ul) {
	padding-left: 3rem;
}

/*
#post-body.entry-content > :first-child {
	display: block;
	margin-bottom: 1rem;
}
*/

@media screen and (max-width: 880px)
.headerify-wrap .headerify-inner, .navbar-wrap .container, .header-ad-wrap > .container, #featured-wrapper .container, #content-wrapper > .container, #footer-wrapper .container {
    box-sizing: border-box;
    padding: 0 !important;
}
