.entry-content-wrap { padding:0 !important; }
.entry-tags { margin: 20px 15px 0 !important; }

#post-body.entry-content > :is(p,h1,h2,h3,h4,h5,ol,ul) {
	padding-left: 15px !important; 
	padding-right: 15px !important;
}

#post-body.entry-content > :first-child {
	display: block;
	margin-bottom: 1rem;
}
