:root {
	--menu-height: 65px;
	--text-font: 'Lora','serif';
	--image-caption-bgcolor: #eee;
	--image-caption-color: #555;
	--border-radius: 8px;
	--border-radius-offset: calc(var(--border-radius) * -1);
  	--border-radius-compensation: 16px;
	/*--image-caption-linkcolor:*/
}

* { border-radius: var(--border-radius); }

/* Blogg-specifika overrides */
#post-body { font-size: 18px; }
.img-container {margin:0 !important;}
.post-body h2 {margin-top: 3rem;}
/*.post-body p { margin-bottom: 0; }
.post-body p + p { text-indent: 4ch; }*/
.page #content-wrapper { padding-bottom: 0; }
.back-top { display: none !important; position: unset; }

.headerify,
.headerify-wrap, 
.headerify-inner, 
.main-menu-wrap, 
.search-toggle,
.show-gmag-pro-mobile-menu,
#gmag-pro-main-menu-nav > li > a {
	height: var(--menu-height);
}
.search-toggle,
.show-gmag-pro-mobile-menu,
#gmag-pro-main-menu-nav > li > a {
	line-height: var(--menu-height);
}
#gmag-pro-main-menu ul > li > ul,
#nav-search {
	top: var(--menu-height);
}

.show-gmag-pro-mobile-menu,
.search-toggle { 
	font-size: 20px; /* större hamburgare och sökikon (mobilmenyn) */
}
.hide-gmag-pro-mobile-menu { 
	font-size: 30px; /* större X-stängknapp (mobilmenyn) */
}

/*
.headerify-inner {
	background-attachment: none;
    	background-color: hsla(0, 0%, 100%, 0.9);
}
*/

#breadcrumb { 
	margin: 0 0 5px;
	border-bottom: 1px solid #333;
	padding: 0 0 10px; 
}

body {
/*background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhO3CTzKIDtX9MMH4D2U0iwcCd2ujL6O8QX1L5uXBKg3__fAXjbAHJVrzGV92_s9yTXLhT_u7VGOIfvOOgkQqNyVU4z8Ea4rXHZ41rkfNPEiSEi29pWLs_
	5byDD2V_hYOQP9QtSQNIVhkunegcTSCX0L19so_Ztuv-5Ev_NBP4WvLY1LBGtSIlnaSmT/s16000/web-bg.jpg) 
	no-repeat scroll center center;*/
	
	background-color: #fff;
	/* background: linear-gradient(#eee,#fff); */
}

/* Trim homepage link titles to 2 lines of text */
.home :is(.featured-posts, .videos-block) .entry-title a,
.popular-post .entry-title a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  /*line-height: 1em;
  max-height: 3em;*/
}

.featured3 .featured-item.item-0 .entry-title {
	font-size: 2em;
}

#featured-wrapper .container {
	margin-bottom: 2px;
}

/* Popular Posts */
.PopularPosts .entry-thumb {
	filter: grayscale(.7);
}

/* Home Page */
.home #content-wrapper {
    margin: 2rem auto 1rem;
}
.widget .title-wrap {
	height: auto;
	float: none;
	border: none;
	padding: 0 15px;
	line-height: 1;
}
.widget .title-wrap h3 {
	font-size: 2rem; 
	color: #F64E4E;
	float: none;
	display: inline-block;
}
.widget .title-wrap > a.more { 
	padding: 5px; 
	float: none;
	background-color: #F64E4E;
	color: #fff;
	display: block;
}
.widget .title-wrap > a.more:hover {
	background-color: #f30;
	color: #fff !important;
}
.home .header-ad .widget {
	margin:0;
}
.gmag-pro-content-blocks .widget,
.index #main-wrapper #main,
.sidebar > .widget,
.item-post-inner,
#gmag-pro-header-wrapper,
#sidebar-tabs
{
	box-shadow: none;
}
.gmag-pro-content-blocks .widget,
.index #main-wrapper #main,
.gmag-pro-content-blocks .widget.type-videos {
	background-color: transparent;
}
.entry-category { display: none; }
.featured-posts .entry-title { line-height: 1.2; }
/* .featured-posts { margin: auto !important; max-width: 1400px; } not used atm */
#custom-content-section { margin-bottom: 1rem; }
#custom-content-section .widget-title { display: none; }
#custom-content-section .blurb { max-height: 300px; }

/* Sidebars */
.sidebar .ContactForm { display:none; }
.sidebar > .widget { background-color: #f4f4f4; } /* sidebar content area */
.sidebar > .widget .widget-title, #sidebar-tabs { background-color: #eee; } /* sidebar head */
.sidebar .widget-content { padding: 0 !important; }
.sidebar :is(.archive-list, .sidebar-tabs .widget.tab-active) { padding: 15px !important; }

/* Post Page */
.item-post-inner { background-color: transparent; }
.item-post .blog-entry-header { background: #151515; border: none; }
.item-post .has-meta h1.entry-title { border-bottom: unset; margin-bottom:0; }
.item-post h1.entry-title { 
	color:#fff;
	display: block;
	line-height: 1.2;
	margin: 1rem 0 0;
}
.item-post .blog-entry-header .entry-meta {
  font-size: 1em;
  display: inline-block;
  background-color: #333; /*#c22*/
  padding: 14px 10px 13px 15px;
  color: #ddd;
  position: absolute;
  right: 0;
  top: 0;
  border-bottom-left-radius: 25px 60px;
  box-shadow: -10px 5px 15px #000;
}
.post-body img:first-of-type {
	margin-top: 0;
}

/* Mobile */
.gmag-pro-mobile-menu ul li {
	padding: .5rem 0;
	line-height: 1;
}
.gmag-pro-mobile-menu ul li,
.gmag-pro-mobile-menu ul li.has-sub .submenu-toggle::after {
	font-size: 2.5rem;
}
.gmag-pro-mobile-menu > ul > li > ul > li a {
	font-size: 1.5rem;
}
@media (max-width: 980px) {
	.back-top { bottom: 40px !important; }
}


/*---------- Artist List Page ------------*/

artist-list {
  display:block;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: var(--body-font);
}
.post-body artist-list ul {
  margin: 0;
  padding: 0;
}
.post-body artist-list ul li {
  list-style: none;
  margin: 0;
  padding: .2em 0;
  text-align: center;
  font-size: 1.5em;
}

.post-body artist-list ul li a {transition: .7s;}
.post-body artist-list ul li a:hover {
    color: darkcyan;
    text-decoration: none;
}

@media (max-width: 980px) {
  .post-body artist-list ul li {
    font-size: 1.3em;
    padding: .4em 0;
  }
}

/*------------- POSTS ---------------*/

/* INGRESS */
.preamble {
	padding: 0 1rem;
	font-family: var(--body-font);
	font-size: 1.1rem;
	font-weight: 500;
	margin-bottom: 2rem;
}

/* Inline heading */

inline-heading, :is(h1,h2,h3,h4).inline { 
	font-weight: 600;
	color: #666;
	font-size: 1.2em;
	display: inline-block;
	margin-right: .3rem;
	letter-spacing: .2em;
	padding-right: .3rem;
	border-right: 2px solid #ccc;
	line-height: 1;
}

/* GEAR INFO BOX */

.post-body .gear-info {
	background-color: #123;
	color: #fff;
	padding:1em;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.post-body .gear-info a {
	color: #f41;
	font-weight: 900;
}

.post-body .gear-info h3::after {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f030";
	color: #f41;
	margin: .5rem;
}

.post-body .gear-info h3 {
	margin: .2rem 0 1rem;
	color: #fff;
	text-align: center !important;
	border-bottom: 1px solid #345;
	padding-bottom: 1rem;
}

.post-body .gear-info h4 {
 	color: #fff;
	margin: .5rem 0;
}

.post-body .gear-info .footer {
 	text-align: center;
 	margin-top: 1rem;
}

@media (width < 650px) {
	.gear-info .grid2 { display:block; }
	.gear-info .grid2 > div { margin-bottom:2rem; }
	.post-body .gear-info :is(h3, .footer) { text-align: left !important; }
}

/* Articles Grid - for linking to subpages -------------*/

.articles {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
  	margin: 1rem;
}
.articles .card {
	display: block;
	background: #000;
	color: #fff;
	position: relative;
  	padding-bottom: 4rem;
	transition:250ms;
}
  
.articles .card img {
	display: block;
}

.articles .card :is(h3,p) {
	margin: 0;
	padding: 1rem;
	color: #fff;
}
.articles .card p {
	padding-top: 0;
}

.articles .card button {
	border: none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	width: calc(100% - 2rem);
	padding: 0.5rem !important;
	position: absolute;
	bottom: 0;
	margin-bottom: 1rem;
  	left: 1rem;
	background: #f30;
	color: #fff;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	transition: 250ms;  
}

.articles .card:hover {
	text-decoration: none;
}

.articles .card:hover button {
	box-shadow: 0 0 1rem .5rem hsla(12, 100%, 50%, .7); 
}

@media (width > 550px) {
	.articles .card:hover {
		transform: scale(1.09);
		z-index: 2;
	}
	.articles:hover > .card:not(:hover) {
	   	filter: blur(2px);    
	}
}
  
@media (width <= 550px) {
	.articles {
		display: block;
	}
	.articles .card {
    		margin-bottom: 1rem; 
  	}
}


/* Blurbs ------------------ */


.blurb-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
    grid-auto-flow: row;
    gap: 3px;
}

.blurb-container-duo {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-auto-flow: column;
	gap: 3px;
}

.post-body :is(.related-content, .related-content-auto) .blurb-container .blurb {
	max-height:350px;
	gap: 5px;
}

.post-body :is(.related-content, .related-content-auto) .blurb-text {
	background: linear-gradient(0deg, black, transparent);
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-bottom: .8rem;
}

.post-body :is(.related-content, .related-content-auto) .blurb-text .entry-title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 3.3em;
	margin-top: auto;
	margin-bottom: .2em !important;
	background: none; 
	position: static;
}

.post-body :is(.related-content, .related-content-auto) .blurb p {
	font-family: var(--body-font);
	font-size:.8rem;
	margin:0;
	line-height:1;
	color:#999;
}

.post-body :is(.related-content, .related-content-auto) .blurb-text :is(.entry-title, .subheadline) {
	font-size:1em;
  	line-height: 1.2em;
	margin:0;
}




.blurb {
display: block;
position: relative;
}

.blurb img {
display: block;
transition: 1s;
width: 100%;
height: 100%;
object-fit: cover;
}
.blurb h3 {
color: #fff !important;
background: linear-gradient(0deg, black, transparent);
padding: 1rem;
margin: 0 !important;
width: 100%;
position: absolute;
bottom: 0;
box-sizing: border-box;
font-weight: 600;
font-size: 1.5rem;
line-height: 1;
}

.blurb:hover img {
filter: brightness(150%);
}

@media (max-width: 500px) {
	.blurb-container {
		display: block;
		width: 100%;
	}

	.post-body :is(.related-content, .related-content-auto) .blurb {
		margin: 5px;
	}
	
	.blurb {
		/*width: 100%;*/
		height: 250px; /* Fast höjd för att kunna beskära bilden */
		overflow: hidden;
		position: relative;
	}
	
	.blurb img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
	
	.blurb-container-duo .blurb:not(:first-child) {
		display: none;
	}
}
@media (min-width: 750px) {
	#custom-content-section .blurb h3 {
		font-size: 1.75rem;
	}
}
@media (min-width: 1000px) {
	#custom-content-section .blurb h3 {
		font-size: 2rem;
	}
}



/* Sticky footer blurb */

.footer-blurb {
	/*position: sticky;*/
  	bottom: 0;
 	z-index: 2;
	display: inline-block;
  	min-height: 80px;
  	width: 100%;
	margin-top: 1.8rem;
}
.footer-blurb:hover {
	text-decoration: none !important;
}
.footer-blurb:has(#cb:checked) {
	position: static !important;
}

.footer-blurb blurb-header {
	display: block;
	background: hsla(0, 0%, 0%, .4);
	color: #fff;
	font-size: 0.6rem;
	line-height: 1.2;
	font-weight: 300;
	padding: 0 7px;
	text-align: center;
}
  
.footer-blurb blurb-container {
  	display: flex;
  	align-items: center;
	justify-content: left;
	background-color: #eee;
}
  
.blurb-thumbnail {
	display: block;
	background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgKA7gbfjMvfsKuoV4JVzM96_Zx3Vc6-VwNTt8Qjyk2V8zA5gScf_1evHqdBwKBACRdMWxyVXFeIjSAsO2wpZHqc6wuKgQW4qyDQayulFHWsOTHHCXVxVuErFndB4ccpZTzkhjGoLWQKxDV-ZA2JZxYhzQUWLCACSACd3MMmJDIsOL265O0IreT2GB2AA/s700/best-concert-cameras-crowdsnapper.webp');
	background-size: cover;
	min-height: 80px;
	width: 25%;
  	min-width: 120px;
}
  
.blurb-text {
	color: #000;
	margin: auto;
	text-align: center;
	color: #505050;
	font-weight: 600;
}

.closer {
	min-height: 80px;
	display: none; /* block; */
 	margin: 0;
}
  
.closer:has(#cb:checked) { display: none; }
  
.closer label {
  	padding: 5px;
 	color: #999;
  	cursor: pointer;
}
.closer label:hover {
   color: #000; 
}

#cb { display: none; }

@media (min-width: 430px) {
	.blurb-text { font-size: 1.2rem; }
}

/* CAMERA TYPE GRID */

.camera-type-grid {  
	display: grid;
	gap: 1rem;
	padding: 15px;
}
.three-columns {
	grid-template-columns: repeat(3, 1fr);
}
.two-columns {
	grid-template-columns: repeat(2, 1fr);
	width:66%;
	margin:auto;
}
  
.camera-type-grid .card {
	box-sizing: border-box;
	border-radius:.5rem;
	display: block;
	text-decoration: none;
	background: #f4f4f4;
	padding:.5rem;
	padding-bottom: 3rem;
	transition:.3s;
	position: relative;
	align-items: center;
}
.camera-type-grid .card h3 {
	text-align: center;
	margin: 0 0 .5rem !important;
}
.camera-type-grid .card img {
	border-radius: 100%;
	margin-bottom: 1rem;
}
.camera-type-grid .card p {
	color: #000;
	font-size: 90%;
	font-weight: 400;
	line-height: 1.4;
	text-align: left; 
	margin-bottom: .8em;
}
.camera-type-grid .card p.button {
	border-radius:.5rem;
	box-sizing: border-box;
	width: calc(100% - 1rem);
	padding: .5rem;
	position: absolute;
	bottom: 0;
	background: #f30;
	color: #fff;
	font-weight: 600;
	text-align: center;
}

.camera-type-grid .card:hover {
	text-decoration: none !important;
}


@media (min-width: 601px) {
	/* hover fx on desktop */
	.camera-type-grid .card:hover {
		background: #9bc; 
		transform: scale(1.05);
		
	}
	.camera-type-grid:hover > .card:not(:hover) {
	   	opacity: 0.8;
		filter: saturate(70%);
	}
}

@media (max-width: 600px) {
	.camera-type-grid {
		grid-template-columns: 1fr;
	}
	.two-columns {
		width: auto;
	}
	.camera-type-grid .card {
		padding: 1rem;
		text-align: center;
	}
	.camera-type-grid .card h3 {
		margin-bottom: 1rem !important;
	}
	.camera-type-grid .card img {
		max-height: 30vh;
		width: auto;
	}
	.camera-type-grid .card p {
		font-size: 100%;
		text-align: center;
		text-wrap: balance;
	}
	.camera-type-grid .card p.button {
		position: static;
		margin-top: 1rem;
		width: 100%;
	}
}


/* FIXED CAMERA NAVIGATION (bottom) */

sticky-navigation {
	display: block;
	background: #f4f4f4;
	z-index: 51;
  	position: sticky;
	bottom: 0;
	left: 0;
}

sticky-navigation ul {
	margin:0 !important;
	padding:0 !important;
	font-size: 0;
}
sticky-navigation li {
	display:inline-block;
	list-style: none;
	margin:0 !important;
	font-size: 14px;
}

sticky-navigation li a {
	color: #000;
	display: inline-block;
	padding: .5rem 1rem;
}

sticky-navigation li a:hover {
	box-shadow: 0 -5px #f30;
	text-decoration: none !important;
	color: #f30;
}

sticky-navigation .start-tab {
	background: #111;
}
sticky-navigation .start-tab a {
	color: #fff;
}

sticky-navigation .active-tab {
	box-shadow: inset 0px 0px 5px 2px #ccc;
}
sticky-navigation .active-tab a {
	color: #f30;
}

/* minimiser toggle, only visible on mobile */
.cb, .toggle {
	display: none;
}

@media screen and (max-width: 770px) {
	
	sticky-navigation {
		display: flex;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	
	.cb:checked ~ ul {
		height:0;
	}
	.cb:checked ~ .toggle {
		transform: rotate(180deg); 
	}
	.toggle {
		display: inline;
		cursor: pointer;
		font-size: 1.5rem;
		padding: 0.4rem 0.5rem;
		background: #f30;
		color: #fff;
	}
	.toggle::before {
   		font-family: FontAwesome; 
    		content: '\f103';
	}
}



/*------- Border Radius-justeringar --------*/

.item-post .blog-entry-header,
.sidebar > .widget .widget-title {
  margin-bottom: var(--border-radius-offset);
  padding-bottom: 27px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sidebar > .HTML .widget-title {
  padding-bottom: 38px;
}

#breadcrumb, byline-title, .post-body .gear-info h3, footer, footer * {
  border-radius: 0;
}

.tr-caption, .image-caption, image-caption {
  margin-top: var(--border-radius-offset);
  padding-top: var(--border-radius-compensation);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

:is(image-gallery, .gallery) * {
	border-radius: 0;
}

:is(image-gallery, .gallery)  {
	gap: 1px;
  	background-color: #000;
}

@media (max-width: 500px) {
	.post-body :is(img, image-caption) {
		border-radius: 0;
	}
}
