h1,h2,h3,h4,h5,h6 {
	text-wrap: balance;
	hyphens: auto;
}

h4 { font-size: 1.05rem; }

.span-1, span-1 { display: block; height: 1rem; }
.span-2, span-2 { display: block; height: 2rem; }
.span-3, span-3 { display: block; height: 3rem; }

.blurred img {
	-webkit-filter: blur(7px); /* Safari 6.0 - 9.0 */
	filter: blur(7px);
}

.center-text {
	text-align: center !important;
}

.flex-container, flex-container {
	display: flex;
	flex-direction: row;
}
@media (max-width: 500px) {
	.flex-container, flex-container {
		flex-direction: column;
  	}
  	.flex-container img, flex-container img {
		max-height: 80vw;
    		width: max-content;
		margin: auto;
  	}
}

.muted {
	color: #aaa;
    	font-size: .7rem;
}


/* Boxes ------------------*/

/* Disclaimer box, for affiliate notices, etc. */
disclaimer {
	box-sizing: border-box;
	font-size: 0.8rem;
	margin: 2rem 1rem 2.5rem;
	padding: .5rem 1rem;
	border: 1px solid #ddd;
	display: block;
	border-radius: 0.5rem;
	position: relative;
	color: #333;
	text-wrap: balance;
}
disclaimer::before {
	content: "Disclosure:";
	position: absolute;
	transform: translateY(-1.3rem);
	background-color: #fff;
	color: #999;
}

/* Regular, grey box */
info-box, .info-box {
	display: block;
	background-color: #eee;
	padding: 1em;
	margin: 2em 0;
}
info-box>:first-child, .info-box>:first-child { margin-top:0 !important; } /* removes excessive blank space from headings */

/* Fancier box, for flashy social icons etc. */
fancy-box, .fancy-box { display:block; background: linear-gradient(54deg, #def, #fde); padding: .5rem; }

/* On-page social media links */
.post-body .social { padding: 0 1rem; margin: 0; }
.post-body .social li { list-style: none; font-size: 4rem; display: inline-block; padding: 0 .6rem; transition: .3s; }
.post-body .social li:hover { transform: scale(1.3); }
.post-body .social li a { color: #000; }
social-tag, .social-tag { display:block; font-size: 1.5rem; color: rgba(0,0,0,.7); text-align: center; padding-bottom: 1rem; }


.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6 {
	line-height: 1.3;	
}

.post-body p {
	margin-bottom: 0.8em;
}

.post-body table {
	margin-bottom: 20px !important;
}

.gallery-3-columns {
	width: 100%;
	text-align: left;
}

.gallery-3-columns > *
{
	max-width: 32.5%;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block !important;
	vertical-align:top;
}


.gallery-2-columns {
	width: 100%;
	text-align: left;
}

.gallery-2-columns > *
{
	max-width: 49%;
	padding: 0;
	box-sizing: border-box;
	display: inline-block !important;
	vertical-align: top;
	margin: auto !important;
}


.gallery-3-columns .tr-caption,
.gallery-2-columns .tr-caption {
	height: 3rem;
	vertical-align: top;
	padding: 0 10px;
}

@media screen and (max-width: 500px) {
    .gallery-3-columns > *
    {
        max-width: 48%;
    }
}

@media screen and (max-width: 300px) {
    .gallery-3-columns > *,
    .gallery-2-columns > *
    {
        max-width: 100%;
    }
}

/* Simple 2 and 3 column grid */

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  
}
  
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  
}

.grid2 img, .grid3 img {
  height: auto !important;
  display: block;
}
  
@media screen and (max-width: 600px) {
	.grid3 {
		grid-template-columns: auto auto;
	}
}


/* Fixed image gallery grid (for mixed aspect ratios) */

image-gallery, .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(143px,1fr));
    grid-template-rows: auto;
    grid-gap: 3px;
}
  
:is(image-gallery, .gallery) img {
	object-fit: cover;
  	display: block; 
  	height: 200px;
	width: 100%;
	box-sizing: border-box;
	transition: 200ms;
}

:is(image-gallery, .gallery) img:hover {
	transform: scale(1.1);
	filter: brightness(110%);
  	z-index:2;
}

:is(image-gallery, .gallery) a { 
	padding:0 !important; 
	margin:0 !important; 
	overflow: hidden;
}




  



/* Horizontal image container. Image goes on the left, text on the right */

.img-container {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.img-container .img {
    flex-basis: 30%;
}

.img-container img {
    width: 100%;
    margin: 0;
    display: block;
}

.img-container .text {
    padding: 15px;
    font-family: var(--body-font);
}

.img-container .text h3 { 
	font-size: 1.5rem; 
	margin: 0 !important; 
}
.img-container .text h4 { 
	color: #f30 !important;
	font-size: 1rem;
	margin: 1rem 0 .5rem 0 !important; 
}

.img-container .text h5 {
	color: #aaa;
	font-size: 1.3rem;
	margin: 0 !important; 
}

@media screen and (max-width: 650px) {
    .img-container :is(h2,h3,h4) {
    	font-size: 75%;
    }
}

@media screen and (max-width: 500px) {
    .img-container .img {
        flex-basis: 100%;
	padding: 15px;
    }
}

.dark {
	background-color: #171c24;
	color: #fff;
}

.dark :is(h2,h3,h4,a) {
    color:#fff !important;
}

.img-container.rounded .img {
    background: #fff;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}


/* COMPACT PRODUCT LIST */

.product-list {
	display: grid; 
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	gap: 0;
}

.product-list::after {
	margin: 5px 15px;
	text-align: left;
	color: #666;
	font-size: .7rem;
	grid-column: 1 / -1;
	content: "(As an Amazon and eBay Associate, I earn from qualifying purchases.)";
}

/* Each list item should include 2 things: img + a text container */

.product-list .list-item {
	display: grid; 
	grid-template-columns: 1fr 3fr;
	gap: 1rem;
	background: #fff;
	padding: 1rem;
	box-sizing: border-box;
	border-width: 0 1px 1px 0;
	border-color: #ccc;
	border-style: solid;
}

.product-list .list-item :is(h3,p) {
	margin:0; 
}


/* Star rating */

.rating { font-size: 1.5rem; text-align:center; color: #ddd; padding: 20px 0 40px; }
.checked { color: #54c5d0; } 


/* Adds a retailer logo after an inline element. For use with text links. */

.amazon::after {
	color: #999;	
	font-family: 'Material Design Icons';
    	content: ' \F002D';
}
.ebay::after {
	color: #999;	
	font-family: 'Font Awesome 6 Brands', 'Font Awesome 5 Brands';
    	content: ' \f4f4';
}
.amazon:hover::after, 
.ebay:hover::after { text-decoration: none; }

.fa-ebay::before {
    font-size: 1.5rem;
    vertical-align: middle;
}

.amazon-disclaimer {
	color: #666;
	font-size: 11px;
	margin: 5px 0 0 !important;
	line-height: 1.2;
}

.link-buttons {
	margin-bottom: 15px;	
}
.img-container .link-buttons {
	margin: 0;	
}

.link-buttons > p {
	color: #666;
	font-size: 11px;
	margin: 0 !important;
}

.link-buttons > a {
	display: inline-block;
	padding: 5px;
	border-radius: 3px;
	margin-right: 7px;
	margin-bottom: 7px;
	transition: .3s;
	color: #666 !important;
	box-shadow: 0px 1px 2px #555;
	background-color: #f1f1f1;
}

.dark .link-buttons > a {
	background-color: #353942;
	color: #fff !important;
}

.link-buttons > a:hover {
	text-decoration: none !important;
	background-color: #ddd;
}
.dark .link-buttons > a:hover {
	background-color: #f30;
}

.link-buttons-compact > a {
	display: inline-block;
	padding: 0 5px 0 0;
	margin: 0;
}

.link-buttons-compact p {
	font-size: .7rem;
}

/* Pros and Cons Lists */

ul.pros, ul.cons {
  padding: 0 0 1rem 0 !important;
}

ul.pros {
	background-color: #efe;  
}
  
ul.cons {
	background-color: #fee;  
}
  
ul.pros::before, ul.cons::before {
  display: block;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
  
ul.pros::before {
  content: 'Pros';
  background-color: #02c39a;
}
  
ul.cons::before {
  content: 'Cons';
  background-color: #e63946;
}
  
  
ul.pros li, ul.cons li {
  list-style: none !important;
  padding-left: 1rem;
}

ul.pros li::before, ul.cons li::before {	
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  padding-right: 16px;
  display: inline-block;
}
  
ul.pros li::before {	
  content: "\f055";
  color: #02c39a;
}

ul.cons li::before {	
  content: '\f056';
  color: #e63946;
}

/* Accordion ---------------------------- */

.accordion {
  background-color: #222;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2rem;
  transition: 1s;
}

.accordion.active, .accordion:hover {
  background-color: #f30;
}

.accordion:after {
  content: '\f078';
  filter: opacity(0.7);
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-family: "Font Awesome 6 Free";
}

.accordion.active:after {
  content: "\f077";
  font-family: "Font Awesome 6 Free";
}

.panel {
  background-color: rgba(255, 51, 0, .1);
  border-bottom: 5px solid #f30;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel :first-child {
	margin-top: 1rem;
}

/* Animations --------------------------- */

.rotate {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to   { transform:rotate(360deg); }
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}
@keyframes wiggle {
	0%   { transform:rotate(-15deg); }
    	50%  { transform:rotate(15deg); }
    	100% { transform:rotate(-15deg); }
}


/* Email form ------------------------------------*/

.post-body .contact-form-widget {
	text-align: center;
} 

.input-wrapper {
  position: relative;
  margin-top: 30px;
}

.input {
  font-size: 1.2rem;
  width: 100%;
  padding: .5rem 1rem;
  color: #333;
  border: none;
  border-bottom: 1px solid #ddd;
  transition: 250ms;
  background: #f4f4f4; 
}
.input:focus {
  outline: none;
  border-bottom-color: #777;
}
.input::placeholder {
  color: transparent;
}

.input-wrapper .label {
  position: absolute;
  top: 12px;
  left: 1rem;
  color: #43454e;
  pointer-events: none;
  transform-origin: left center;
  transition: transform 250ms;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-1.8rem) scale(0.75);
}

.input:not(:placeholder-shown) {
  background: #fff;
}

textarea {
  resize: vertical;
}
  
#post-body .contact-form-button-submit {
  font-size: 1.2rem;
  color: #fff;
  background: #333;
  margin: 1rem 0;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  border-radius: 5px;
  transition: 250ms;
  cursor: pointer;
	width: auto;
	float: none;
}

#post-body .contact-form-button-submit:hover {
  background: var(--primary-clr, #f30);
}
  
#post-body .contact-form-button-submit:active {
    box-shadow: 0 0 2px rgba(0,0,0,.5)
}


/* Responsive Table (use data-cell attr in the tds - these replace column headers (th) on mobile) -------------*/

.post-body table.table { display:table; margin: 0 !important; }
.table :is(td,th) { padding: 0.5rem 1rem; }
.table tr:nth-of-type(2n) { background-color: #eee; }
  
@media (max-width: 450px) {
  .table th { display: none; }
  .table :is(td,tr) { display: block; }
  .table tr:not(:first-of-type) { padding: 0.5rem 0; } /* 1st row of THs is hidden */
  .table td { padding: 0 1rem; }
  .table td:first-of-type { font-weight: 700; }
  .table td::after { content: " " attr(data-cell); }
}


/* Style overridees ----------------------------------- */

body { word-wrap: normal !important; }
.post-body .tr-caption-container, .post-body .image-caption, image-caption {background-color: #3c3c3c; color: #fff; display: block; margin-bottom: 1rem; } 
.tr-caption, .image-caption, image-caption { color: #fff !important; padding:10px; text-align:center !important;}
.tr-caption a, .image-caption a, image-caption a { color: #ffde17; }

.post-body table td,.post-body table th{box-sizing:border-box;} 
.post-body table img { width: 100%; height:auto; display:block; } /* rad tillagd */

#featured .widget { padding: 0 !important; box-shadow: none !important; background-color: transparent !important; }

.contact-form-error-message, .contact-form-error-message-with-border, contact-form-success-message, .contact-form-success-message-with-border { text-align: center !important } /* left behöver bara tar bort från mallen */

/* Light YouTube Embeds ------------------------------- */

.youtube-player {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	margin: 0;
}
  
.youtube-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparent;
}
  
.youtube-player img {
	object-fit: cover;
	display: block;
	left: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: auto;
	cursor: pointer;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	transition: 0.4s all;
}
  
.youtube-player img:hover {
	-webkit-filter: brightness(75%);
	-moz-filter: brightness(75%);
	filter: brightness(75%);
}
  
.youtube-player .play {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjtZWnaUfiE80eV-qPXZWRFFXdRKth7KZVqlKGoL7y0uEjvmqPweYodrkm10_kEKAV5wMnWjGdyJF-ER6abrCk-OxCmrzRVrliT10yu8uAoudlpgnRDZbj4F-SzaIjpUyiWR7cBxWV6YQ51M57a6KZzBd3HMH7T_FIT2j-CM52EuYcMrDb7A0A-O4am/s72/TxzC70f.png") no-repeat;
	cursor: pointer;
}
  
