
/* Sajtlänkar i toppen */

.navbar-wrap {
  background: #00378D;
  box-shadow: 0 1px 3px #000000;
}

.main-navbar-menu ul li a {
  color: #95B3E3;
}


/* Huvudnavigation */

.headerify-inner {
  background: linear-gradient(to right,#00378d,#2670e4);
}

#gmag-pro-main-menu-nav > li > a {
  color: #ffde17;
}


/* Inlägg & sidor */

.item-post h1.entry-title {
  font-size: 4em;
  line-height: 1em
}

@media screen and (max-width: 680px) {
  .item-post h1.entry-title { font-size: 3em; }
}

.item-post .blog-entry-header .entry-meta {
  background-color: #ffde17;
  color: #1859c1;
  text-align: right;
  font-weight: 600;
  margin-bottom: 3em;
}

a.back-top {
  background: #00378D !important;
}

a.back-top::hover {
  background: #082e6a !important;
}

/*
Ta bort:
.post-body table tbody td  (#fff text)
*/

.post-body .tr-caption-container, 
.post-body .image-caption {
  background-color: #00378d;
  color: #fff;
}

.tr-caption a, .image-caption a {
    color: #ffde17;
}
